---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
    const bidimensional = await getCollection("bidimensional");

    return bidimensional.map((serie) => ({
        params: { id: serie.slug },
        props: { serie },
    }));
}

const { serie } = Astro.props
const { data } = serie
const { title, img, imgUrl, description } = data

const { Content } = await render(serie)
---

<Layout title={`${title} - Pedro Escapa`}>
    <div class="flex gap-12">
        <aside class="flex flex-col items-center gap-4">
            <img
                class="mr-6 w-full"
                src={`/${img}`}
                alt={title}
            />
        </aside>
        <main class="max-w-sm">
            <h1 class="text-4xl font-bold mb-4">{title}</h1>
            <div class="prose">
                <Content />
            </div>
        </main>
    </div>
</Layout>
