@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@fontsource/inter";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}