---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Pedro Escapa">
    <div class="h-full flex flex-col items-center justify-center">
        <h1 class="font-black text-[#878383] text-6xl pb-8">404</h1>
        <h2 class="tracking-widest text-[#878383]">Página no encontrada</h2>
    </div>
</Layout>
