---
import Layout from "@layouts/Layout.astro";
const title = "Gracias";
---
<Layout title={`${title} Pedro Escapa`}>
  <section class="flex justify-center items-center h-screen">
    <h1 class="text-xl">Gracias por tu mensaje</h1>
  </section>
</Layout>
