---
import Layout from "@layouts/Layout.astro";

const title = "Contacto";
---

<Layout title={`${title} Pedro Escapa`}>
    <div class="flex h-full items-center justify-center">
        <h1>Página de contacto</h1>
    </div>
</Layout>
