---
import Wrapper from "@components/Wrapper.astro";
import Layout from "@layouts/Layout.astro";

const title = "Contacto";
---

<Layout title={`${title} Pedro Escapa`}>
    <Wrapper>
        <section class="flex flex-1 items-center justify-center px-8 py-12">
            <form
                name="contacto"
                method="POST"
                data-netlify="true"
                class="w-full max-w-3xl grid grid-cols-1 gap-6 lg:grid-cols-2"
            >
                <!-- Required hidden input -->
                <input type="hidden" name="form-name" value="contacto" />

                

                <div class="flex flex-col">
                    <label class="uppercase text-xs mb-1" for="nombre"
                        >Nombre</label
                    >
                    <input
                        id="nombre"
                        name="nombre"
                        type="text"
                        required
                        class="border-b border-black outline-none"
                    />
                </div>

                <div class="flex flex-col">
                    <label class="uppercase text-xs mb-1" for="correo"
                        >Correo</label
                    >
                    <input
                        id="correo"
                        name="correo"
                        type="email"
                        required
                        class="border-b border-black outline-none"
                    />
                </div>

                <div class="flex flex-col lg:col-span-2">
                    <label class="uppercase text-xs mb-1" for="asunto"
                        >Asunto</label
                    >
                    <input
                        id="asunto"
                        name="asunto"
                        type="text"
                        required
                        class="border-b border-black outline-none"
                    />
                </div>

                <div class="flex flex-col lg:col-span-2">
                    <label class="uppercase text-xs mb-1" for="mensaje"
                        >Mensaje</label
                    >
                    <textarea
                        id="mensaje"
                        name="mensaje"
                        required
                        rows="4"
                        class="border-b border-black outline-none"></textarea>
                </div>

                <div class="lg:col-span-2 flex justify-end">
                    <button
                        type="submit"
                        class="uppercase text-xs tracking-wide font-semibold"
                    >
                        Enviar
                    </button>
                </div>
            </form>
        </section>
    </Wrapper>
</Layout>
