---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="flex flex-col md:flex-row">
		<header class="py-3 px-6 flex flex-col items-center justify-between">
			<div class="flex flex-grow">
				<a href="/" class="text-2xl pb-10">PEDRO ESCAPA</a>
			</div>
			<nav class="pb-10">
				<ul
					class="flex flex-col text-sm [&>li>a]:inline-block [&>li>a]:py-4 [&>li]:hover:italic"
				>
					<li><a href="#">BIDIMENSIONAL</a></li>
					<li><a href="#">INTERACCIONES</a></li>
					<li><a href="#">PAPELERÍA</a></li>
					<li><a href="#">EN CURSO</a></li>
					<li><a href="/acerca-de">ACERCA DE</a></li>
					<li><a href="#">CONTACTO</a></li>
				</ul>
			</nav>
		</header>
		<section class="h-[100dvh] content-center my-auto mx-auto justify-center">
			<div class="size-72 bg-amber-300"></div>
		</section>
	</main>
</Layout>
