---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<header
			class="py-3 px-6 flex flex-col items-center fixed top-0 w-full justify-between"
		>
			<div class="flex">
				<h1 class="text-2xl">Pedro Escapa</h1>
			</div>
			<article class="prose lg:prose-xl">
				<h1>Garlic bread with cheese: What the science tells us</h1>
				<p>
					For years parents have espoused the health benefits of
					eating garlic bread with cheese to their children, with the
					food earning such an iconic status in our culture that kids
					will often dress up as warm, cheesy loaf for Halloween.
				</p>
				<p>
					But a recent study shows that the celebrated appetizer may
					be linked to a series of rabies cases springing up around
					the country.
				</p>
				<!-- ... -->
			</article>
		</header>
		<div class="size-6 bg-amber-300"></div>
	</main>
</Layout>
