---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="p-6">
		<header
			class="py-3 px-6 flex flex-col items-center w-full justify-between"
		>
			<div class="flex flex-grow">
				<h1 class="text-2xl pb-10">PEDRO ESCAPA</h1>
			</div>
			<nav class="pb-10">
				<ul
					class="flex flex-col text-sm [&>li>a]:inline-block [&>li>a]:py-4 [&>li]:hover:underline"
				>
					<li><a href="/acerca-de">ACERCA DE</a></li>
					<li><a href="#">BIDIMENSIONAL</a></li>
					<li><a href="#">INTERACCIONES</a></li>
					<li><a href="#">PAPELERÍA</a></li>
					<li><a href="#">EN CURSO</a></li>
					<li><a href="#">CONTACTO</a></li>
				</ul>
			</nav>
		</header>
		<section class="size-72 flex-grow m-auto bg-amber-300"></section>
	</main>
</Layout>
