---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<header class="py-3 px-6 flex flex-col items-center fixed top-0 w-full justify-between">
			<div class="flex">
				<h1 class="text-2xl">Pedro Escapa</h1>
			</div>
			<nav>
				<ul class="flex flex-col text-sm [&>li>a]:inline-block [&>li>a]:py-4 [&>li]:hover:underline">
					<li><a href="#">ACERCA DE</a></li>
					<li><a href="#">BIDIMENSIONAL</a></li>
					<li><a href="#">INTERACCIONES</a></li>
					<li><a href="#">PAPELERÍA</a></li>
					<li><a href="#">EN CURSO</a></li>
					<li><a href="#">CONTACTO</a></li>
				</ul>
			</nav>
		</header>
		<div class="size-6 bg-amber-300">

		</div>
	</main>
</Layout>
