---
import Nav from "@components/Nav.astro";
---

<header class="pt-12 pl-12 min-w-60 flex flex-col">
    <a href="/" class="text-2xl pb-20 font-semibold tracking-widest">PEDRO ESCAPA</a>
    <Nav/>
    
</header>
