<header class="py-14 px-10 flex flex-col justify-between">
    <a href="/" class="text-2xl w-44 font-medium">PEDRO ESCAPA</a>

    <nav class="flex flex-col justify-center w-full h-full">
        <ul
            class="text-sm [&>li>a]:inline-block [&>li>a]:py-4 [&>li]:hover:italic"
        >
            <li><a href="#">BIDIMENSIONAL</a></li>
            <li><a href="#">INTERACCIONES</a></li>
            <li><a href="#">PAPELERÍA</a></li>
            <li><a href="#">EN CURSO</a></li>
            <li><a href="/acerca-de">ACERCA DE</a></li>
            <li><a href="#">CONTACTO</a></li>
        </ul>
    </nav>
</header>
