---

---

<div class="w-full py-9 px-9 h-full flex justify-center items-center">
    <img src="images/bidimensional/home-painting/2.webp" alt="home-painting" class="h-full w-auto object-contain"/>
</div>
