---
import imgEscalera from "@assets/images/bidimensional/escaleras/02.webp";
import { Image } from "astro:assets";
---

<div class="w-full py-9 px-9 h-full flex justify-center items-center">
  <Image
    src={imgEscalera}
    alt="home-painting"
    class="h-full w-auto object-contain"
  />
</div>
