---
// Versión más simple usando el loader
import { loadAllImages, getRandomImageFromLoaded } from "@lib/image-loader";
import { Image } from "astro:assets";

const allImages = await loadAllImages();
const randomImage = getRandomImageFromLoaded(allImages);
---

<div class="
w-full h-full
pt-2 pb-6 lg:py-9
px-12 lg:px-9
flex justify-center items-center
">
  <Image
    src={randomImage || "/placeholder.svg"}
    alt="home-painting"
    class="h-full w-auto object-contain"
  />
</div>
