---
interface Props {
    className?: string;
    id?: string;
}

const { className, id } = Astro.props;
---

<div
    id={id}
    class=`
    w-full h-full
    pt-5 pb-6 lg:py-9
    px-6 lg:px-12 md:px-12
    flex justify-center items-center relative ${className}`
>
    <slot />
</div>
